img
{
    -webkit-user-select: none;
    -webkit-user-drag: none; /* Prevents dragging of images/divs etc */

}


::-webkit-input-placeholder
{
   color: rgba(72, 77, 70, 0.68);
}

:-moz-placeholder
{ /* Firefox 18- */
   color: rgba(72, 77, 70, 0.68);
}

::-moz-placeholder
{  /* Firefox 19+ */
   color: rgba(72, 77, 70, 0.68);
}

:-ms-input-placeholder
{
   color: rgba(72, 77, 70, 0.68);
}


body
{
  font-size:100%;
  font-family:"Segoe Ui";
  margin:0px;
  width:100%;
  background:url("../images/bg1.jpg");
  background-size:cover;
  background-repeat:no-repeat;

}

#icon
{
  width:44px;
  height:44px;
  background-color: rgba(25, 176, 186, 0.71);
  vertical-align:center;
  -moz-user-select: none; /* These user-select properties are inheritable, used to prevent text selection */
  -webkit-user-select: none;
  -ms-user-select: none; /* From IE10 only */
  user-select: none; /* Not valid CSS yet, as of July 2012 */

    -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
    user-drag: none;

}

#icon:hover
{
    background-color: rgba(17, 133, 140, 0.92);
}

.logo
{
  width:44px;
  height:44px;
  padding-right: 3px;
  /*background:#00aba9;*/
  vertical-align:center;
  -moz-user-select: none; /* These user-select properties are inheritable, used to prevent text selection */
  -webkit-user-select: none;
  -ms-user-select: none; /* From IE10 only */
  user-select: none; /* Not valid CSS yet, as of July 2012 */

  -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
  user-drag: none;

  float:left;
}

span img
{
  width:38px;
  height:38px;
  padding-left: 5px;
  margin:0px auto;

}

a
{
  color: #fff;

}


span.group
{

  height:auto;
  display: block;
  padding:0px 20px 0px 15px;
  background-color: rgba(14, 14, 14, 0.26);
  width:186px;
  border-radius: 10px;
  margin: 0px auto;

}

#settings
{
  background-color: rgba(14, 14, 14, 0.16);
  border-radius: 10px;
  height: 32px;
  width: 32px;
}

span.author
{
  padding-right: 15px;


}


header
{
  font-size: 20pt;
  padding: 10px 0px 10px 10px;
}

header.subheader
{
  font-size: 16pt;
  font-weight: lighter;
}

header >nav
{
  padding-bottom:200px;
}

nav
{

  color:#fff;
  font-size:1.3em;

}

nav a
{
  color:#fff;
  font-size:1.3em;
  padding: 0px 10px;
  font-family:"Segoe Ui Light";
  text-decoration:none;
  text-transform:lowercase;
}

nav img
{
  float:right;
  margin-right:10px;
  cursor: pointer;
  padding:0px 5px;
}

#content
{
  width:800px;
  padding-top:20px;
  margin:0 auto;
}

.tasks:hover, #settings:hover
{
  cursor: pointer;
  background-color: rgba(41, 130, 47, 0.16);
}

#options
{
  padding-left: 20px;
  background-color: #fff;

}

input[type=text]
{
  height:44px;
  width:505px;
  float:left;
  font-size:1.2em;

  padding:0px 7px;


}

#search
{
  background-color: rgba(227, 227, 217, 0.78);
  border: 1px solid rgba(70, 75, 75, 0.26);
  background-image: url("../images/Search2.png");
  background-position: right;
  background-repeat: no-repeat;
}


label
{
  float:left;
  width: 250px;
  font-size: 1.2em;
}

label#selectBackground
{
  display: block;
  float: none;
  margin-top: 10px;
}

#block
{
  display: block;
}

#options >select, #options >input[type=text]
{
  height:44px;
  width:350px;
  margin-bottom: 10px;
  font-size:1.2em;
  color:#00aba9;
  padding:0px 7px;


}


.thumbnail
{
  width: 100px;
  height: 80px;
  border: 2px solid #fff;
  /*margin-right: 6px;*/

}

.thumbnail:hover
{
  border: 2px solid rgb(251, 105, 162);
  cursor: pointer;
}

button
{
  height: 44px;
  width: 100px;
  background-color: rgb(29, 138, 203);
  color: #fff;
  border: none;
  margin-bottom: 20px;
  margin-top: 10px;
}

button:hover
{
  background-color: rgb(194, 43, 74);
  color:  #fff;

}

#message
{

  font-size: 10pt;
  background-color: rgb(54, 106, 180);
  visibility: visible;
  padding-left: 15px;
  color: #fff;
}


footer
{

    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
}

footer p
{
  text-align:center;
  color:#C8C8C8;
  font-size:1em;
  background:rgba(0, 0, 0, 0.3)
}
